<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
    <title>Inicio</title>

    {# Cargamos la librería #}
    {% load bootstrap4 %}
    {# CSS Bootstrap #}
    {% bootstrap_css %}
</head>
<body>
    <nav class="navbar navbar-dark bg-primary">
        
    </nav>
</body>
</html>